<div class="d-flex team-vs" style="margin-top: 20px">
  <button class="btn btn-danger" (click)="passId(match.id)">Delete</button>
  <span class="score">
    <span [ngStyle]="{ color: compare(match.scoreOne, match.scoreTwo)[0] }">{{
      match.scoreOne
    }}</span>
    -
    <span [ngStyle]="{ color: compare(match?.scoreTwo, match?.scoreOne)[0] }">{{
      match.scoreTwo
    }}</span>
    
    </span
  >
  <div class="team-1 w-50">
    <div class="team-details w-100 text-center">
      <img src="assets/images/logo_1.png" alt="Image" class="img-fluid" />
      <h3>
        <span [ngClass]="{classWin:compare(match.scoreOne, match.scoreTwo)[1]=='Win',
        classLoss:compare(match.scoreOne, match.scoreTwo)[1]=='Loss',
        classDraw:compare(match.scoreOne, match.scoreTwo)[1]=='Draw'
      }">{{ match.teamOne }}</span>
        <span>({{ compare(match.scoreOne, match.scoreTwo)[1] }})</span>
      </h3>
    </div>
  </div>
  <div class="team-2 w-50">
    <div class="team-details w-100 text-center">
      <img src="assets/images/logo_2.png" alt="Image" class="img-fluid" />
      <h3>
        <span [ngClass]="{classWin:compare(match.scoreTwo, match.scoreOne)[1]=='Win',
        classLoss:compare(match.scoreTwo, match.scoreOne)[1]=='Loss',
        classDraw:compare(match.scoreTwo, match.scoreOne)[1]=='Draw'
      }">{{ match.teamTwo }}</span>
        <span>({{ compare(match.scoreTwo, match.scoreOne)[1] }})</span>
      </h3>
    </div>
  </div>
</div>
