<app-banner [name]="'Matches'"></app-banner>

  <div class="container">
    <div class="row">
      <div class="form-group">
        <input type="text" class="form-control"  [(ngModel)]="term" name="a"  placeholder="Filter">
      </div>
      <div class="col-lg-12" *ngFor="let m of matches | filter:term " >
        <app-match [match]="m" (newEvent)="deleteMatch($event)"></app-match>
   
      </div>
    </div>
  </div>


  <!-- <carousel
  #myCarousel
  [images]="images"
  [autoplay]="true"
  [objectFit]="'cover'"
  [arrows]="true"
  [loop]="true"
  [autoplayInterval]="2000"
></carousel> -->